body {
    background: linear-gradient(to right, #3157d1, #8BC34A);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #FFF;
    padding: 30px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 94.8%;
    padding: 10px;
    margin: auto;
    border-radius: 3px;
    border: 1px solid #CCC;
}

.form-group input[type="submit"] {
    background-color: #6263bd;
    color: #FFF;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #1624a3;
}

.typing-input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

.typing-animation {
    overflow: hidden;
    animation: typing 2s steps(40) infinite;
    white-space: nowrap;
    width: 0;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}